.corpo {
  background-image: url('../assets/wowFight.png'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #ebe1e11a;
  }

  > * {
    position: relative;
    z-index: 1;
  }
}