$fundo: #04010f;
$claro: #f0ebeb;
$card:#dcdff2;
$sombrasBox: 0 4px 10px rgba(0, 0, 0, 0.3);
$destaque-rosa: #ff3d7f;
$gradiente-rosa: linear-gradient(135deg, #3e175e, #e4018d);
$foco: #4c0f32;
$botao-azul: linear-gradient(135deg, #2cd0e5, #2553af);
$botao-amarelo: linear-gradient(135deg, #b9820b, #ede203);
$box-fundo: rgba(0, 0, 0, 0.8);
$borda: 1px solid $fundo;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: $fundo;
  min-width: 320px;
  min-height: 100vh;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

}
