@use './variaveis' as *;

.home-icon {
      position: fixed;
      top: 20px;     /* distância do topo */
      left: 20px;    /* distância da esquerda */
      z-index: 1000; /* garante que fique acima de outros elementos */
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    .home-icon img {
      width: 32px;   /* ajuste o tamanho como preferir */
      height: 32px;
    }

.home-icon:hover {
        transform: scale(1.1);
        transition: transform 0.2s;
    }